/*
 * Custom CSS
 */

 :root {
    --bs-body-bg: var(--bs-gray-100);
  }

  /* General Website Style rules */
body {
  font-family: 'Noto Sans', sans-serif;
  color: #222222;

  background-image: linear-gradient(180deg, var(--bs-secondary-bg), var(--bs-body-bg) 100px, var(--bs-body-bg));
line-height: 25px;

}
h3 {
  font-family: 'Indie Flower', cursive;
  color: #94c11c
}
